<%
    let type = "post";
    if (is_home())
        type = "index";
    else if (is_post())
        type = "post";
    else if (is_category() || page.type === "categories")
        type = "categories";
    else if (is_tag() || page.type === "tags")
        type = "tags";
    else if (is_archive())
        type = "archives";
    let title = "";
    if (page.title)
        title = page.title + " | ";
    else if (is_category())
        title = "categories: " + page.category + " | ";
    else if (is_tag())
        title = "tags: " + page.tag + " | ";
    else if (is_archive())
        title = "archives | ";
    title += config.title;
%>
<!DOCTYPE html>
<html lang="<%- config.language %>">
    <head>
        <meta charset="UTF-8">
        <meta name="referrer" content="no-referrer">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=5,minimum-scale=1.0" />
        <title><%= title %></title>
        <meta name="author" content="<%- config.author %>">
        <meta name="description" content="<%- config.description %>">
        <meta name="keywords" content="<%- config.keywords %>">
        <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.45/vue.global.prod.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/animejs/3.2.1/anime.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/pjax/0.2.8/pjax.min.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <script src="https://v1.hitokoto.cn/?encode=js&select=%23hitokoto" defer></script>
        <script src="<%- url_for("/js/fun.js") %>"></script>
        <script src="<%- url_for("/js/warn.js") %>"></script>
        <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <link rel="icon" href="<%- url_for(theme.avatar) %>">
        <link rel="stylesheet" href="<%- url_for("/css/particlex.css") %>">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.2.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/highlight.js/11.7.0/styles/<%- theme.highlightStyle %>.min.css">
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/lxgw-wenkai-webfont/1.6.0/style.min.css">
        <link rel="stylesheet" href="<%- url_for("/css/fonts.css") %>">
        <% if (theme.polyfill.enable) { %>
            <script src="https://polyfill.io/v3/polyfill.min.js?features=<%- theme.polyfill.features.join(",") %>"></script>
        <% } %>
        <% if (theme.dengbox.enable) { %>
        <link rel="stylesheet" href="<%- url_for("/css/dengbox.css") %>">
        <% } %>
        <% if (theme.cursor.enable) { %>
        <link rel="stylesheet" href="<%- url_for("/css/cursor.css") %>">
        <% } %>
    </head>
    <body>
        <% if (theme.cursor.enable) { %>
        <script defer src="<%- url_for("/js/cursor.js") %>"></script>
        <% } %>
        <% if (theme.line.enable) { %>
        <canvas
            id="background"
            style="position:fixed;top:0;left:0;width:100vw;height:100vh;pointer-events:none;z-index:-1"
        ></canvas>
        <script src="<%- url_for("/js/background.js") %>"></script>
        <% } %>
        <% if (theme.fireworks.enable) { %>
        <canvas
            id="fireworks"
            style="position:fixed;top:0;left:0;width:100vw;height:100vh;pointer-events:none;z-index:1000"
        ></canvas>
        <script src="<%- url_for("/js/firework.js") %>"></script>
        <% } %>
        <%- partial("loading") %>
        <div id="layout">
            <transition name="into">
            <div v-show="showpage" style="display: -not-none">
                <div id="menushow">
                    <%- partial("menu") %>
                </div>
                <div id="main">
                    <%- partial(type) %>
                    <%- partial("footer") %>
                    <% if (theme.dengbox.enable) { %>
                    <%- partial("dengbox") %>
                    <% } %>
                </div>
            </div>
            </transition>
            <div id="showimg">
                <img id="showimg-content" alt="showimg">
            </div>
        </div>
        <%- partial("script", { type }) %>
    </body>
</html> 