<% if (theme.math.enable) { %>
<script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/contrib/auto-render.min.js"></script>
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.4/katex.min.css">
<% } %>
<% if (theme.crypto.enable && typeof page.password !== "undefined") { %>
<script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
<% } %>
<link rel="stylesheet" href="<%- url_for("/css/twikoo.css") %>">
<link rel="stylesheet" href="<%- url_for("/css/markdown-it-container.css") %>">
<div class="article">
    <div class="subject">
        <div>
            <h1><%= page.title %> </h1>
        </div>
        <div class="info">
            <span class="date">
                <span class="icon">
                    <i class="fa-solid fa-calendar fa-fw"></i>
                </span>
                <%= date(page.date, "YYYY/M/D") %><span class="icon" style="margin-left: 13px;">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </span>
                <%= date(page.update, "YYYY/M/D") %>
            </span>
            <% if (page.categories && page.categories.data.length != 0) { %>
            <span class="category">
                <a href="<%- url_for(page.categories.data[0].path) %>">
                    <span class="icon">
                        <i class="fa-solid fa-bookmark fa-fw"></i>
                    </span>
                    <%= page.categories.data[0].name %>
                </a>
            </span>
            <% } %>
            <% if (page.tags && page.tags.data.length != 0) { %>
            <span class="tags">
                <span class="icon">
                    <i class="fa-solid fa-tags fa-fw"></i>
                </span>
                <% page.tags.data.forEach(data => { %>
                <span class="tag">
                    <%
                        const color = ["color: #ffa2c4", "color: #00bcd4", "color: #03a9f4", "color: #00a596", "color: #ff7d73"];
                        let num = Math.floor(Math.random() * color.length);
                    %>
                    <a href="<%- url_for(data.path) %>" style="<%- color[num] %>"><%= data.name %></a>
                </span>
                <% }); %>
            </span>
            <% } %>
        </div>
        <% if (theme.crypto.enable && typeof page.password !== "undefined") { %>
        <%
            const CryptoJS = crypto();
            function sha(str) {
                return CryptoJS.SHA256(str).toString();
            }
            function encrypt(str, key) {
                return CryptoJS.AES.encrypt(str, key).toString();
            }
        %>
        <input id="crypto" class="input" placeholder="文章被加密，请输入密码" data-encrypt="<%- encrypt(page.content, page.password) %>" data-shasum="<%- sha(page.content) %>">
        <div class="content" style="opacity: 0" v-pre></div>
        <% } else { %>
        <div class="content" v-pre>
            <%- page.content %>
        </div>
        <% } %>
    </div>
    <% if (page.comments) { %>
    <% if (theme.gitalk.enable) { %>
    <div id="comment">
        <div id="gitalk-container"></div>
    </div>
    <% } %>
    <% if (theme.giscus.enable) { %>
    <div id="comment">
        <div id="giscus-container" class="giscus"></div>
    </div>
    <% } %>
    <% if (theme.waline.enable) { %>
    <div id="comment">
        <div id="waline-container"></div>
    </div>
    <% } %>
    <% if (theme.twikoo.enable) { %>
    <div id="comment">
        <div id="twikoo-container"></div>
    </div>
    <% } %>
    <% } %>
</div>
